<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>
<div th:replace="~{fragments/header :: body}"></div>
<!-- 페이지 소스 시작 -->
<link rel="stylesheet" href="/css/pages/detail/app.css">


<div class="container">
    <input type="hidden" id="invitationId" value="">
    <div class="image-container">
        <div class="main-image-box">
            <div class="main-image-container">
                <img id="mainImage" src="" alt="청첩장 메인 이미지" />
            </div>
        </div>
        <div class="image-list-box">
            <div class="image-list-container">
                <img id="imageList" src="" alt="청첩장 이미지 목록" />
            </div>
        </div>
    </div>


    <div class="info">
        <h3>결혼 정보</h3>
        <p>결혼 날짜: <span id="weddingDate"></span></p>
        <p>감사 인사: <span id="letterTxt"></span></p>
        <p>메인 메시지: <span id="mainTxt"></span></p>
        <p>축하 메시지: <span id="greetTxt"></span></p>
    </div>
    <div class="info">
        <h3>신부측 정보</h3>
        <p>이름: <span id="ownerName"></span></p>
        <p>생일: <span id="ownerBirth"></span></p>
        <p>전화번호: <span id="ownerPhone"></span></p>
        <p>아버지 이름: <span id="ownerFatherName"></span></p>
        <p>아버지 전화번호: <span id="ownerFatherPhone"></span></p>
        <p>아버지 생존 여부: <span id="ownerFatherDeceasedYN"></span></p>
        <p>어머니 이름: <span id="ownerMotherName"></span></p>
        <p>어머니 전화번호: <span id="ownerMotherPhone"></span></p>
        <p>어머니 생존 여부: <span id="ownerMotherDeceasedYN"></span></p>
    </div>
    <div class="info">
        <h3>신랑측 정보</h3>
        <p>이름: <span id="groomName"></span></p>
        <p>생일: <span id="groomBirth"></span></p>
        <p>전화번호: <span id="groomPhone"></span></p>
        <p>아버지 이름: <span id="groomFatherName"></span></p>
        <p>아버지 전화번호: <span id="groomFatherPhone"></span></p>
        <p>아버지 생존 여부: <span id="groomFatherDeceasedYN"></span></p>
        <p>어머니 이름: <span id="groomMotherName"></span></p>
        <p>어머니 전화번호: <span id="groomMotherPhone"></span></p>
        <p>어머니 생존 여부: <span id="groomMotherDeceasedYN"></span></p>
    </div>
    <div class="button-group">
<!--        <button class="action-button edit">수정</button>-->
        <button class="action-button list" onclick="location.href='/invitations/list'">목록</button>
        <button id="deleteBtn" class="action-button delete">삭제</button>
    </div>
</div>

<div th:replace="~{fragments/footer :: body}"></div>

<script th:src="@{/js/pages/detail/app.js}"></script>
</body>
</html>