<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>
<div th:replace="~{fragments/header :: body}"></div>
<!-- 페이지 소스 시작 -->
<link rel="stylesheet" href="/css/pages/detail/app.css">


<div class="container">
    <input type="hidden" id="invitationId" value="">
    <div class="image-container">
        <div class="main-image-box">
            <div class="main-image-container">
                <img id="mainImage" src="" alt="펫 이미지" />
            </div>
        </div>

        <div class="image-list-box">
            <div class="image-list-container" id="imageListContainer"></div>
        </div>
    </div>

    <!-- 펫 정보 -->
    <div class="info">
        <h2 id="petName">이름 없음</h2>
        <p><strong>나이:</strong> <span id="petAge">-</span></p>
        <p><strong>생일:</strong> <span id="petBirth">-</span></p> <!-- 생일 추가 -->
        <p id="introText"></p>
    </div>


    <!-- 성격 정보 -->
    <div class="info">
        <h3>성격</h3>
        <p><strong>좋아하는 것:</strong> <span id="likeWord">-</span></p>
        <p><strong>싫어하는 것:</strong> <span id="hateWord">-</span></p>
    </div>

    <!-- 등록일 & 좋아요 -->
    <div class="info">
        <p><strong>등록일:</strong> <span id="regDate">-</span></p>
        <p><strong>좋아요 수:</strong> <span id="likeCount"></span></p>
    </div>

    <!-- 버튼 -->
    <div class="button-group">
        <button id="moveBtn" class="button" onclick="location.href='/pets/list'">목록으로</button>
        <button id="submitBtn" class="button">삭제</button>
    </div>
</div>

<div th:replace="~{fragments/footer :: body}"></div>

<script th:src="@{/js/pages/detail/app.js}"></script>
</body>
</html>