<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>
<div th:replace="~{fragments/header :: body}"></div>
<!-- 페이지 소스 시작 -->
<link rel="stylesheet" href="/css/pages/list/app.css">
<link rel="stylesheet" href="/css/common/pagination.css">

<div class="container">

    <div class="grid">
    </div>

    <button type="button" class="button" id="moveBtn" onclick="location.href='/main'">메인</button>
    <div class="pagination">
    </div>
</div>

<div th:replace="fragments/footer :: body"></div>

<script th:src="@{/js/common/pagination.js}"></script>
<script th:src="@{/js/pages/list/app.js}"></script>
</body>
</html>
