<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>
<div th:replace="~{fragments/header :: body}"></div>
<!-- 페이지 소스 시작 -->
<link rel="stylesheet" href="/css/pages/main/app.css">

<div class="container">
    <div class="logo-container">
        <img src="/images/logo.png" alt="모여라 Paw Paw 로고" class="main-logo">
    </div>
    <div class="button-container mt-4">
        <button class="btn btn-custom" id="registerButton" onclick="window.location.href='/create'">🐾 자랑할래요!</button>
        <button class="btn btn-custom" id="listButton" onclick="window.location.href='/list'">💕 구경갈래요!</button>
    </div>
</div>

<div th:replace="fragments/footer :: body"></div>

</body>
</html>
