<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>
<div th:replace="~{fragments/header :: body}"></div>

<div class="container">
<h2>청첩장 작성</h2>
<form id="invitationForm" action="" method="POST">
    <!-- 결혼 정보 입력 시작 -->
    <div class="wedding-info">
        <h3>결혼 정보 입력</h3>
        <!-- 결혼 날짜 -->
        <div class="form-group">
            <label for="weddingDate">결혼 날짜 <span class="required">*</span></label>
            <input type="date" id="weddingDate" name="date" value="2024-12-25" required>
        </div>

        <!-- 감사 인사, 메인 메시지, 축하 메시지 -->
        <div class="form-group">
            <label for="letterTxt">감사 인사 <span class="required">*</span></label>
            <textarea id="letterTxt" name="letterTxt" required>THANK YOU</textarea>
        </div>
        <div class="form-group">
            <label for="mainTxt">메인 메시지 <span class="required">*</span></label>
            <textarea id="mainTxt" name="mainTxt" required>잘 살겠습니다</textarea>
        </div>
        <div class="form-group">
            <label for="greetTxt">축하 메시지 <span class="required">*</span></label>
            <textarea id="greetTxt" name="greetTxt" required>와주셔서 축하해주세요</textarea>
        </div>
    </div>
    <!-- 결혼 정보 입력 끝 -->

    <!-- 신부측 정보 시작 -->
    <div class="bride-info">
        <h3>신부측 정보</h3>

        <div class="form-group">
            <label for="brideName">신부 이름 <span class="required">*</span></label>
            <input type="text" id="brideName" name="brideInfo.name" value="한서현" required>
        </div>
        <div class="form-group">
            <label for="brideBirth">신부 생일 <span class="required">*</span></label>
            <input type="date" id="brideBirth" name="brideInfo.birth" value="2000-03-12" required>
        </div>
        <div class="form-group">
            <label for="bridePhone">신부 전화번호 <span class="required">*</span></label>
            <input type="tel" id="bridePhone" name="brideInfo.phone" value="01049012186" required>
        </div>
        <div class="form-group">
            <label for="brideFatherName">신부 아버지 이름 <span class="required">*</span></label>
            <input type="text" id="brideFatherName" name="brideInfo.fatherName" value="한동원" required>
        </div>
        <div class="form-group">
            <label for="brideFatherPhone">신부 아버지 전화번호 <span class="required">*</span></label>
            <input type="tel" id="brideFatherPhone" name="brideInfo.fatherPhone" value="01031812156" required>
        </div>
        <div class="form-group">
            <label for="brideFatherDeceasedYN">신부 아버지 생존 여부 <span class="required">*</span></label>
            <input type="checkbox" id="brideFatherDeceasedYN" name="brideInfo.fatherDeceasedYN" value="Y"> 고인
        </div>
        <div class="form-group">
            <label for="brideMotherName">신부 어머니 이름 <span class="required">*</span></label>
            <input type="text" id="brideMotherName" name="brideInfo.motherName" value="김연옥" required>
        </div>
        <div class="form-group">
            <label for="brideMotherPhone">신부 어머니 전화번호 <span class="required">*</span></label>
            <input type="tel" id="brideMotherPhone" name="brideInfo.motherPhone" value="01062219949" required>
        </div>
        <div class="form-group">
            <label for="brideMotherDeceasedYN">신부 어머니 생존 여부 <span class="required">*</span></label>
            <input type="checkbox" id="brideMotherDeceasedYN" name="brideInfo.motherDeceasedYN" value="Y"> 고인
        </div>
        <div>
            <!-- 신부측 정보 끝 -->

            <!-- 신랑측 정보 시작 -->
            <div class="groom-info">
                <h3>신랑측 정보</h3>

                <div class="form-group">
                    <label for="groomName">신랑 이름 <span class="required">*</span></label>
                    <input type="text" id="groomName" name="groomInfo.name" value="이상로" required>
                </div>
                <div class="form-group">
                    <label for="groomBirth">신랑 생일 <span class="required">*</span></label>
                    <input type="date" id="groomBirth" name="groomInfo.birth" value="2000-07-29" required>
                </div>
                <div class="form-group">
                    <label for="groomPhone">신랑 전화번호 <span class="required">*</span></label>
                    <input type="tel" id="groomPhone" name="groomInfo.phone" value="01022669985" required>
                </div>
                <div class="form-group">
                    <label for="groomFatherName">신랑 아버지 이름 <span class="required">*</span></label>
                    <input type="text" id="groomFatherName" name="groomInfo.fatherName" value="이" required>
                </div>
                <div class="form-group">
                    <label for="groomFatherPhone">신랑 아버지 전화번호 <span class="required">*</span></label>
                    <input type="tel" id="groomFatherPhone" name="groomInfo.fatherPhone" value="01011111111" required>
                </div>
                <div class="form-group">
                    <label for="groomFatherDeceasedYN">신랑 아버지 생존 여부 <span class="required">*</span></label>
                    <input type="checkbox" id="groomFatherDeceasedYN" name="groomInfo.fatherDeceasedYN" value="Y"> 고인
                </div>
                <div class="form-group">
                    <label for="groomMotherName">신랑 어머니 이름 <span class="required">*</span></label>
                    <input type="text" id="groomMotherName" name="groomInfo.motherName" value="어머니" required>
                </div>
                <div class="form-group">
                    <label for="groomMotherPhone">신랑 어머니 전화번호 <span class="required">*</span></label>
                    <input type="tel" id="groomMotherPhone" name="groomInfo.motherPhone" value="01022222222" required>
                </div>
                <div class="form-group">
                    <label for="groomMotherDeceasedYN">신랑 어머니 생존 여부 <span class="required">*</span></label>
                    <input type="checkbox" id="groomMotherDeceasedYN" name="groomInfo.motherDeceasedYN" value="Y"> 고인
                </div>
            </div>
            <!-- 신랑측 정보 끝 -->

            <!-- 제출 버튼 -->
            <button type="submit" class="button">등록</button>
</form>
</div>
<div th:replace="~{fragments/footer :: body}"></div>

<script th:src="@{/js/invitation/app.js}"></script>
</body>
</html>
