<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<link rel="stylesheet" href="/css/pages/invitation/portfolio/app.css">
<body>
<div class="container">
    <aside class="sidebar">
        <img src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-992703623942/protfolio/IMG_20210621_143334_871.jpg" alt="한서현 프로필 사진" class="profile-img">
        <h1 class="name">한서현 <span>HAN SEO HYUN</span></h1>
        <ul class="info">
            <li><strong>Birth:</strong> 2000년 3월 12일 (만 25세)</li>
            <li><strong>Location:</strong> 대한민국 인천</li>
            <li><strong>Blog:</strong> <a href="https://feelfreetothink.tistory.com/">feelfreetothink.tistory.com</a></li>
            <li><strong><i class="fab fa-github"></i>: </strong><a href="https://github.com/HAN-SEOHYUN">GitHub</a></li>
        </ul>

        <section class="contact">
            <h3>Contact</h3>
            <ul>
                <li><i class="fas fa-phone-alt"></i><span>010-4901-2186</span></li>
                <li><i class="fas fa-envelope"></i><span>h0031271@gmail.com</span></li>
            </ul>
        </section>
        <!--   contact 정보     -->

    </aside>

    <main class="main">
        <section class="portfolio-section">
            <h2>INTRODUCTION</h2>
            <p>1년 8개월간 스타트업 기업에서 풀스택 개발자로서의 경험을 쌓았습니다. Node.js, PHP, TypeScript, Docker, MySQL, Git 등을 사용하여 프로덕션 서비스를 설계, 개발, 운영하였습니다.</p>

            <p>새로운 기술을 배울 때 <strong>기록하여 습득</strong>하는 것을 선호하여 <a href="https://feelfreetothink.tistory.com/">개발 블로그</a>에는 200여개의 포스트를 작성했습니다. 언제나 <strong>동료들이 의지할 수 있는 팀원</strong>이 되고자 하는 목표를 가지고 있으며, 이를 위해 다양한 기술을 학습하는 것을 주저하지 않습니다.</p>

            <p>저는 두 가지 가치를 중요하게 생각합니다.</p>

            <p><strong>첫째</strong>, 주도적으로 문제를 발견하고 해결하는 태도입니다.<br>
                서비스 내에서 <strong>스스로 해결할 수 있는 범위를 넓혀나가며</strong> 문제에 대한 솔루션을 제안하고 해결해나가는 과정에서 보람을 느낍니다. 이러한 태도로 전 직장에서 “문제를 찾아내고 해결하는 것에 적극적이며 자기주도적인 역량을 갖췄다” 는 평가를 받았으며, 가장 기여도가 높은 팀원으로 선정된 경험이 있습니다.</p>

            <p><strong>둘째</strong>, 책임을 다하는 것이 곧 행복한 직장생활을 만들어준다는 신념입니다.<br>
                저에게 있어 책임감은 <strong>행복 직장 생활</strong>을 위한 핵심요소입니다. 저는 맡은 역할을 충실히 수행하고, 동료들과 협력하며 신뢰받는 구성원이 되고, 회사에 실질적인 가치를 제공하는 과정에서 동기부여를 얻습니다. 책임을 다하는 것은 단순히 조직을 위한 것이 아니라 제가 더 즐겁고 의미 있게 일하기 위한 길이라고 생각합니다.</p>

            <p>책임감을 다하고 성장하며 함께 발전하는 경험을 쌓아가는 것이 결국 <strong>행복한 직장 생활을 지속할 수 있는 원동력</strong>이 된다고 믿습니다.</p>
        </section>

        <section class="portfolio-section">
            <h2>EXPERIENCE</h2>

            <div class="job">
                <p class="company-name">디지엠유닛원 (DGMUnit1)</p>
                <p class="period">2022.12 ~ 2024.07 <span>(1년 8개월)</span></p>
                <p class="company-desc">- 멤버십(CRM) / 수발주(ERP) / 재고 관리 / 매장 관리 등을 제공하는 스타트업 (개발팀 6명)</p>
                <p class="project-desc">- 프랜차이즈 본사 통합 관리 B2B 서비스 <strong>‘프비티’</strong> 개발 및 운영</p>
                <p class="functions">- 결제, 주문, 정산, 통계, 매장관리 등의 애플리케이션 기능 개발</p>

                <div class="role">
                    <h4>백엔드</h4>
                    <ul>
                        <li>비즈니스 로직 개발, API 개발을 포함한 애플리케이션 기능 개발</li>
                        <li>포인트, 쿠폰, 선불카드 Open API 개발 및 문서화, 외부 파트너사 연동 지원</li>
                        <li>클러스터 환경에서 멀티 테넌트 애플리케이션 배포 및 관리 자동화를 위한 스크립트 개발</li>
                        <li>Docker Compose를 활용한 프로덕션 환경의 컨테이너 기반 애플리케이션 운영 및 관리</li>
                        <li>MySQL 데이터베이스 설계 및 함수, 프로시저, 이벤트, 트리거를 활용한 데이터 처리 자동화 및 최적화</li>
                        <li>온프레미스 환경에서 SaaS 서비스로의 전환 (테넌트DB 스키마 통합)</li>
                        <li>대규모 매장 매출 데이터를 처리하는 Batch 시스템 설계 및 개발</li>
                        <li>고객 유치를 위한 자동화 파이프라인 구축</li>
                    </ul>
                </div>

                <div class="role">
                    <h4>프론트엔드</h4>
                    <ul>
                        <li>React.js를 활용한 내부 백오피스 대시보드 개발</li>
                        <li>업무 성과 통계 시각화 및 다국어 처리 기능 구현</li>
                        <li>Cypress를 사용한 E2E(End-to-End) 테스트 코드 작성</li>
                        <li>jQuery와 HTML을 활용한 동적 웹 페이지 구현</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="portfolio-section">
            <h2>PROJECT</h2>

            <div class="project">
                <div class="period-area">
                    <p>2025.01 ~ 2025.03</p>
                </div>
                <div>
                    <h4>노웨딩 청첩장 토이프로젝트</h4>
                    <ul>
                        <li><a href="http://98.83.105.239/invitations/main" target="_blank">http://98.83.105.239/invitations/main</a></li>
                        <li>개인적으로 진행 중인 토이 프로젝트로, Spring Boot, JPA, AWS EC2, S3, Docker, Flyway를 활용한 웹 애플리케이션입니다.</li>
                        <li>Spring Boot, JPA, AWS EC2, S3, Docker, Flyway 를 활용하는 웹 애플리케이션
                            <ul>
                                <li>EC2 서버 환경에서 MySQL 데이터베이스 Docker 컨테이너와 Spring 애플리케이션 Docker 컨테이너를 생성하여 상호 통신이 가능하도록 인프라 구축</li>
                                <li>서비스 내 이미지 업로드 관리는 Amazon S3를 활용하여 구현</li>
                                <li>DB 마이그레이션을 위한 Flyway 적용</li>
                                <li>각 요청별 실행 흐름 및 시간을 추적하는 LogTrace 적용</li>
                            </ul>
                        </li>
                        <li><a href="https://feelfreetothink.tistory.com/226">서비스 소개</a></li>
                        <li><a href="https://github.com/HAN-SEOHYUN/wedlessInvite" target="_blank">Github Repo</a></li>
                        <li><strong>관련 포스팅:</strong>
                            <ul>
                                <li><a href="https://feelfreetothink.tistory.com/231" target="_blank">[Java] ThreadLocal, 템플릿메서드 디자인패턴을 사용한 LogTrace 개발</a></li>
                                <li><a href="https://feelfreetothink.tistory.com/227" target="_blank">[AWS] EC2 서버 메모리 부족 이슈</a></li>
                                <li><a href="https://feelfreetothink.tistory.com/228" target="_blank">[Docker] 도커 이미지 아키텍쳐 오류</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="project">
                <div class="period-area">
                    <p>2022.07 ~ 2022.08</p>
                </div>
                <div>
                    <h4>뜨개장터 토이프로젝트</h4>
                    <ul>
                        <li>JPA & Spring Boot, AWS EC2, RDS를 사용하여 개발한 온라인 몰.</li>
                        <li>사업자 등록증을 발급받아 주문 및 결제 시스템을 운영하며, 실 결제 3건을 처리.</li>
                        <li><a href="https://feelfreetothink.tistory.com/111" target="_blank">서비스 소개</a></li>
                        <li>관련포스팅:
                            <ul>
                                <li><a href="https://feelfreetothink.tistory.com/127">[AWS] HTTP => HTTPS / AWS 로드밸런서, 타겟그룹, ACM</a></li>
                                <li><a href="https://feelfreetothink.tistory.com/124">[프로젝트] 배포 후 실제 웹서비스 운영 단계로 나아가기</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </section>





        <section class="portfolio-section">
            <h2>ARTICLES</h2>

            <div class="articles">
                <ul class="article-list">
                    <li>
                        <a href="https://www.notion.so/1-8-27c910074f804942b1bb9d06ac44d38d?pvs=21">
                            [퇴사회고] 1년 8개월 여정의 회고
                        </a>
                    </li>
                    <li>
                        <a href="https://feelfreetothink.tistory.com/231">
                            [JAVA] 템플릿메서드 디자인패턴을 사용한 LogTrace
                        </a>
                    </li>
                    <li>
                        <a href="https://www.notion.so/PHP-PHP-cronjob-126ecebbc89e80f9ac76f78c8f5e9d70?pvs=21">
                            [PHP] PHP로 cronjob을 실행할 파일을 작성해보자
                        </a>
                    </li>
                    <li>
                        <a href="https://www.notion.so/SQL-self-join-123ecebbc89e80f395f9fa98a3a2143b?pvs=21">
                            [SQL] self join 사용한 최신 정보 비교
                        </a>
                    </li>
                    <li>
                        <a href="https://www.notion.so/PHP-122ecebbc89e80f982ead67537beaa87?pvs=21">
                            [PHP] 동적 렌더링
                        </a>
                    </li>
                    <li>
                        <a href="https://www.notion.so/PHP-PHP-129ecebbc89e80598cc1d7b9f01b733c?pvs=21">
                            [PHP] 객체지향적 PHP
                        </a>
                    </li>
                    <li>
                        <a href="https://www.notion.so/PHP-13becebbc89e80038127c0ccb4149506?pvs=21">
                            [PHP] 화면이 중간에서 뚝 끊기는 현상
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="portfolio-section">
            <h2>SKILLS</h2>
            <div class="skills-container">
                <div class="skill-category">
                    <h4>Languages</h4>
                    <ul>
                        <li>PHP</li>
                        <li>Java</li>
                        <li>HTML</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                    </ul>
                </div>

                <div class="skill-category">
                    <h4>Frameworks & Libraries</h4>
                    <ul>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>Next.js</li>
                        <li>React.js</li>
                        <li>Spring Boot</li>
                    </ul>
                </div>

                <div class="skill-category">
                    <h4>Infrastructure & Databases</h4>
                    <ul>
                        <li>MySQL</li>
                        <li>Docker</li>
                        <li>AWS</li>
                        <li>nginx</li>
                    </ul>
                </div>

                <div class="skill-category">
                    <h4>Tools & IDEs</h4>
                    <ul>
                        <li>VS Code</li>
                        <li>IDEA</li>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Vim</li>
                    </ul>
                </div>

                <div class="skill-category">
                    <h4>Misc</h4>
                    <ul>
                        <li>Agile</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="portfolio-section">
            <h2>EDUCATION</h2>
            <div class="education-item">
                <p class="school-name">한국관광고등학교 | 2018년 졸업</p>
                <ul class="education-detail">
                    <li>관광영어통역과</li>
                    <li>2021년 TOEIC Speaking Level 7</li>
                    <li>2017년 TOEIC 825점</li>
                </ul>
            </div>
        </section>




    </main>

</div>
<div th:replace="~{fragments/footer :: body}"></div>

<script th:src="@{/js/invitation/create/app.js}"></script>
</body>
</html>
